<?xml version="1.0" encoding="UTF-8"?>
<PluginDetails>
    <ParentMenu></ParentMenu>
    <MenuCmd>SampleReport3</MenuCmd>
    <MenuRoleID>usr</MenuRoleID>
    <JarFile>SampleReport3.jar</JarFile>
    <MainClass>tw.com.mt.cust.report.SampleReport3</MainClass>
    <Requests>
        <Request method="exportSampleReport">export_sample_report</Request>
    </Requests>
    <Messages>
        <Message key="sample.report.user_proj_role">使用者參與專案一覽表</Message>
        <Message key="sample.report.user_id">使用者ID</Message>
        <Message key="sample.report.user_name">姓名</Message>
        <Message key="sample.report.proj_name">專案名稱</Message>
        <Message key="sample.report.proj_owner">專案主持人</Message>
        <Message key="sample.report.proj_role">團隊角色</Message>
        <Message key="sample.report.proj_mgmt_team">管理人員</Message>
        <Message key="sample.report.proj_work_team">工作人員</Message>
        <Message key="sample.report.proj_guest_team">瀏覽者</Message>
	</Messages>
</PluginDetails>
